<div class="intro">
  <div class="container">
    <div class="intro__inner">
      <h1 class="intro__title">Физика легко? Начнем!</h1>
      <a class="button" href="">Проверь себя</a>
    </div>
  </div>
</div>
<div class="text">
  <p>
    На современном этапе развития компьютерных технологий невозможно представить себе процесс обучения без использования тех или иных гаджетов. Успешность в изучении различных дисциплин в значительной степени зависит от уровня владения информацией, а также способностью эффективно ее использовать.
    Данный сайт предоставляет вам возможность быстрого и дегкого изучения формул из школьного курса физики с помощью интерактивных катрочек.
  </p>
</div>
