<a [routerLink]="['/']"> </a>

<nav class="navbar">
  <!-- logo -->
  <a class="navbar-item">
    <img class="header__logo" src="assets/image/logo.png">
  </a>

  <!-- menu -->
  <div class="d-flex flex-row">
    <div class="p-2 nav__link" routerLink="/main">Класс</div>
    <div class="p-2 nav__link" routerLink="/main">Раздел</div>
    <div class="p-2 nav__link" routerLink="/main">Алфавитный указатель</div>
    <div class="p-2 nav__link" routerLink="/aboutWebsite">O сайте</div>
  </div>
</nav>
<router-outlet></router-outlet>
